<ion-view cache-view="false">
    <ion-nav-title>Browse</ion-nav-title>
    <ion-content class="has-header" ng-init="checkNetwork(); getCategoriesList();">
        <div ng-repeat="category in categoriesList">
            <div class="list list-browse">
                <a ui-sref="kuizine.category({ categoryId: '{{ category.categoryId }}', categoryName: '{{ category.categoryName }}' })" class="item item-icon-left item-browse">
                    <img class="icon restaurant-list-item" src="http://csit.kutztown.edu/kuizine/application_files/images/categories/{{ category.categoryId }}.png"></img>
                    <h2 class="card-header">{{ category.categoryName }}</h2>
                    <p class="card-hours">{{ category.categoryDescription }}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
