<ion-view hide-back-button="true">

    <!-- Home Header -->
    <ion-nav-title>Home</ion-nav-title>

    <!-- Show menu icon when user state changes, i.e. login/logout -->
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    
    <!-- Home Content -->
    <ion-content has-header="true">
        <div class="logo">
            <img height="140px" width="140px" src="images/logo.png"></img>
        </div>
        <div class="card card-profile">
            <div class="item item-divider">
                <label>About</label>
            </div>
            <div class="item item-text-wrap">
                <p>Kuizine is a cross-platform mobile application designed to aggregate all of the restaurant options within the town of Kutztown, PA. It provides relevant restaurant information including menu, website, contact information, address, and a map of the
                   restaurant location. Further, it provides users with an account the ability to save their favorite restaurants, and provides all users the ability to search and browse for restaurants.</p>
            </div>
        </div>
        <div class="card card-profile">
            <div class="item item-divider">
                <label>News</label>
            </div>
            <div class="item item-text-wrap">
                <p>April 28, 2016 - Kuizine mobile application and administrative web interface system launch.</p>
            </div>
        </div>
        <br/>
    </ion-content>
</ion-view>
