<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!-- <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-pizza"></i>
                <h2>Italian</h2>
                <p>Italian food description</p>
            </a>
        </div>
        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-icecream"></i>
                <h2>Dessert</h2>
                <p>Dessert food description</p>
            </a>
        </div> -->
    </ion-content>
</ion-view>
