<ion-view view-title="Home" hide-back-button="true">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>>
    <ion-content has-header="true">
        <div class="logo">
            <img height="140px" width="140px" src="images/logo.png"></img>
        </div>
        <div class="card card-profile">
            <div class="item item-divider">
                About
            </div>
            <div class="item item-text-wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="card card-profile">
            <div class="item item-divider">
                News
            </div>
            <div class="item item-text-wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <br/>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.</p>
                <br/>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
        <br />
    </ion-content>
</ion-view>
