<ion-view>

    <!-- Login Header -->
    <ion-nav-title>Login</ion-nav-title>

    <!-- Login Content -->
    <ion-content scroll="true" class="has-header">

        <!-- Centered user icon -->
        <div class="horizontal-center">
            <i class="fa fa-user jumbo-icon"></i>
        </div>

        <!-- Login Form -->
        <div class="login-form">
            <form class="list list-inset" ng-submit="checkNetwork(); login();">
                <!-- Username textfield -->
                <label class="item item-input login-input">
                    <i class="fa fa-user input-icon"></i>
                    <input type="text" name="username" placeholder="username" ng-model="credentials.username">
                </label>
                <br>

                <!-- Password textfield -->
                <label class="item item-input login-input">
                    <i class="fa fa-unlock-alt input-icon"></i>
                    <input type="password" name="password" placeholder="password" ng-model="credentials.password">
                </label>
                <br>

                <!-- Error message if unable to login -->
                <div class="login-error" ng-if="getLoginStatus() == false">
                    <p>Incorrect username or password</p>
                </div>

                <!-- Submit button -->
                <div class="horizontal-center">
                    <input class="login-button" type="submit" name="submit" value="Login">
                </div>
            </form>
        </div>

        <!-- Sign up text -->
        <div class="horizontal-center">
            <br>
            <p>Don't have an account?
                <a ui-sref="kuizine.signup" class="signup-button">Sign Up</a>
            </p>
        </div>
    </ion-content>
</ion-view>
