<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 39px;"></div>
        <form class="list">
            <div class="list card">
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">Username</span>
                            <input type="text" placeholder="Enter your username">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input type="password" placeholder="Password">
                        </label>
                    </form>
                </div>
            </div>
            <div class="spacer" style="width: 300px; height: 31px;"></div>
            <a href="#" onclick="window.open('/tabs', '_system', 'location=yes'); return false;" class="button button-stable button-block">Log in</a>
            <a ui-sref="kuizine.signup" class="button button-positive button-clear button-block">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
