<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-mat">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="side-menu-container">
        <ion-header-bar class="bar-mat side-menu-style">
            <div class="logo">
                <img height="100px" width="100px" src="images/logo_high_contrast.png"></img>
                <p ng-if="getLoginStatus()">Welcome, {{getUsername()}}!</p>
            </div>
        </ion-header-bar>
        <ion-content class="side-menu-left has-header">
            <ion-list>
                <a ui-sref="kuizine.home" ui-sref-active="active-item" class="item nav-list-item" menu-close><i class="fa fa-home nav-icon"></i>Home</a>
                <a ui-sref="kuizine.search" ui-sref-active="active-item" class="item nav-list-item" menu-close><i class="fa fa-search nav-icon"></i>Search</a>
                <a ui-sref="kuizine.browse" ui-sref-active="active-item" class="item nav-list-item" menu-close><i class="fa fa-list nav-icon"></i>Browse</a>
                <a ui-sref="kuizine.favorites" ui-sref-active="active-item" class="item nav-list-item" menu-close><i class="fa fa-star-o nav-icon"></i>Favorites</a>
                <a ui-sref="kuizine.login" ui-sref-active="active-item" class="item nav-list-item" menu-close ng-if="!getLoginStatus()"><i class="fa fa-user nav-icon"></i>Login</a>
                <a ui-sref="kuizine.logout" ui-sref-active="active-item" class="item nav-list-item" menu-close ng-click="toggleLeftSideMenu(); logout();" ng-if="getLoginStatus()"><i class="fa fa-user nav-icon"></i>Logout</a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
