<ion-view cache-view="false">
    <ion-nav-title>{{profile.restaurantName}}</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <div ng-if="getLoginStatus()">
            <button class="button-icon favorite-icon fa fa-star-o" ng-if="profile.favorited == 'false'" ng-click="addFavorite(profile.restaurantId)"></button>
            <button class="button-icon favorite-icon fa fa-star" ng-if="profile.favorited == 'true'" ng-click="removeFavorite(profile.restaurantId)"></button>
        </div>
    </ion-nav-buttons>
    <ion-content has-header="true" has-tabs="true" style="bottom: 49px;" ng-init="checkNetwork(); getRestaurantProfile();">
        <br/>
        <div class="profile-picture">
            <img height="140px" width="140px" src="http://csit.kutztown.edu/kuizine/application_files/images/{{profile.restaurantId}}.png"></img>
        </div>
        <div class="card card-profile">
            <div class="item item-divider">
                Description
            </div>
            <div class="item item-text-wrap">
                {{profile.restaurantDescription}}
            </div>
        </div>
        <div class="card card-profile">
            <div class="item item-divider">
                Address
            </div>
            <div class="item item-text-wrap">
                {{profile.restaurantAddress}}
            </div>
        </div>
        <div class="card card-profile">
            <div class="item item-divider">
                Hours
            </div>
            <div class="item">
                <table style="width:300px;">
                    <tr ng:repeat="d in days">
                        <td>{{d}}</td>
                        <td>{{profile.restaurantHours[$index]}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card card-profile">
            <div class="item item-divider">
                Phone Number
            </div>
            <div class="item item-text-wrap">
                {{profile.restaurantPhone}}
            </div>
        </div>
        <br />
        <div ng-show="showMap();"></div>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <div class="tabs tabs-icon-top">
        <a href="tel:{{profile.restaurantPhone}}" class="tab-item">
            <i class="icon tab-bar fa fa-phone"></i>Call
        </a>
        <a class="tab-item" ng-click="openMenuLink()">
            <i class="icon tab-bar fa fa-cutlery"></i>Menu
        </a>
        <a class="tab-item" ng-click="openWebsiteLink()">
            <i class="icon tab-bar fa fa-globe"></i>Website
        </a>
        <a class="tab-item" href="mailto:{{profile.restaurantEmail}}">
            <i class="icon tab-bar fa fa-at"></i>Contact
        </a>
    </div>
</ion-view>
