<ion-view ng-controller="ItemController as vm">
    <ion-nav-title>Search</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <div class="buttons">
            <button class="button button-icon ion-ios-search-strong" ng-click="vm.showFilterBar()"></button>
        </div>
    </ion-nav-buttons>
    <ion-content direction="y" scrollbar-y="false">
        <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="vm.refreshItems()"></ion-refresher>
        <ion-list>
            <div collection-repeat="item in vm.items | groupByMonthYear" divider-collection-repeat>
                <ion-item>
                    <div>{{ item.description }}</div>
                    <div>{{ item.date | date:'dd-MM-yyyy' }}</div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
