<ion-view hide-back-button="true">
    <ion-nav-title>Signup</ion-nav-title>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header" ng-init="checkNetwork();">
        <div class="horizontal-center jumbo-signup">
            <img height="140px" width="140px" src="images/logo.png"></img>
        </div>
        <div class="signup-form">
            <form class="list list-inset" ng-submit="validate()">
                <label class="item item-input login-input">
                    <i class="fa fa-user input-icon"></i>
                    <input type="text" name="username" placeholder="username" ng-model="credentials.username">
                </label>
                <br>
                <label class="item item-input login-input">
                    <i class="fa fa-unlock-alt input-icon"></i>
                    <input type="password" name="password" placeholder="password" ng-model="credentials.password">
                </label>
                <br>
                <label class="item item-input login-input">
                    <i class="fa fa-unlock-alt input-icon"></i>
                    <input type="password" name="reenter" placeholder="re-enter password" ng-model="credentials.reenter">
                </label>
                <br>
                <div class="horizontal-center">
                    <input class="login-button" type="submit" name="submit" value="Sign Up">
                </div>
            </form>
        </div>
    </ion-content>
</ion-view> -->
