<ion-view hide-back-button="true">
    <ion-nav-title>Signup</ion-nav-title>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">

        <!-- TODO: POSSIBLY REDESIGN - DO IN PHASE 2 -->

        <div class="horizontal-center jumbo-signup">
            <h1>Kuizine</h1>
            <p>a style of cooking</p>
        </div>

        <div class="signup-form">
            <!-- TODO: ADD SIGNUP ABILITIES -->
            <form class="list list-inset" ng-submit="">
                <label class="item item-input login-input">
                    <i class="fa fa-user input-icon"></i>
                    <input type="text" name="username" placeholder="username" ng-model="data.username">
                </label>
                <br>
                <label class="item item-input login-input">
                    <i class="fa fa-unlock-alt input-icon"></i>
                    <input type="password" name="password" placeholder="password" ng-model="data.password">
                </label>
                <br><br>
                <div class="horizontal-center">
                    <input class="login-button" type="submit" name="submit" value="Sign Up">
                </div>
            </form>
        </div>

    </ion-content>
</ion-view> -->
