<ion-view>
    <!-- Signup Header -->
    <ion-nav-title>Signup</ion-nav-title>

    <!-- Signup Content -->
    <ion-content scroll="true" class="has-header">
        <!-- Jumbo user symbol item -->
        <div class="horizontal-center jumbo-signup">
            <img height="140px" width="140px" src="images/logo.png"></img>
        </div>

        <!-- Signup Form -->
        <div class="signup-form">
            <form class="list list-inset" ng-submit="checkNetwork(); validateClientSide();">
                <!-- Username selection textfield -->
                <label class="item item-input login-input">
                    <i class="fa fa-user input-icon"></i>
                    <input type="text" name="username" placeholder="username" ng-model="credentials.username">
                </label>
                <br>

                <!-- Password selection textfield -->
                <label class="item item-input login-input">
                    <i class="fa fa-unlock-alt input-icon"></i>
                    <input type="password" name="password" placeholder="password" ng-model="credentials.password">
                </label>
                <br>

                <!-- Reenter password textfield -->
                <label class="item item-input login-input">
                    <i class="fa fa-unlock-alt input-icon"></i>
                    <input type="password" name="reenter" placeholder="re-enter password" ng-model="credentials.reenter">
                </label>
                <br>

                <!-- Signup error -->
                <div class="signup-error" ng-if="error.length > 0">
                    <p>{{ error }}</p>
                </div>

                <!-- Signup button -->
                <div class="horizontal-center">
                    <input class="login-button" type="submit" name="submit" value="Sign Up">
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
