/*********************************** General **********************************/
.bar.bar-calm {
    border-color         : #5c8faf;
    background-color     : #477d9f;
    background-image     : linear-gradient(0deg, #5c8faf, #5c8faf 50%, transparent 50%);
    color                : #fff;
}

.bar.bar-calm .title {
    color                : #fff;
}

.bar.bar-calm.bar-footer {
    background-image     : linear-gradient(180deg, #5c8faf, #5c8faf 50%, transparent 50%);
}

.popup-buttons .button,
.popup-buttons .button.activated {
    background-color     : #477d9f !important;
}

.card {
    margin-bottom        : -12px !important;
}

.ion-android-arrow-back:before {
    color                : white;
}

.ion-ios-arrow-back:before {
    color                : white;
}

.previous-title {
    color                : white;
}

.back-button {
    color: white !important;
}


/*********************************** Header ***********************************/
.bar {
	height               : 64px !important;
    border               : none !important;
}

.bar-mat {
    background-color     : #477d9f;
}

.bar .title {
    color                : white;
    font-size            : 20px;
    font-weight          : 400;
}

.button-clear {
    max-height           : none; /* Don't tell me how high I can go! */
}

.has-header {
    top                  : 64px !important;
}

.button.button-icon.ion-ios-search-strong:before{
    font-size            : 24px !important;
    color                : white;
    margin-right: 5px;
}

.ion-android-arrow-back:before {
    margin-left          : 14px;
    line-height          : 53px !important;
}

.ion-navicon:before {
    color                : white;
    margin-left          : 14px;
}

/* This should fix the issue that is related to android only! */
.platform-android .bar .title {
    line-height          : 65px !important;
}

/*********************************** Nav Menu *********************************/
.active-item i {
    color                : #477d9f;
}

.nav-icon {
    margin-right         : 20px;
    width                : 28px;
    font-size            : 24px;
    vertical-align       : top;
    color                : #455158;
}

.logo {
    color                : #FFFFFF;
    margin               : 0 auto;
    padding-top          : 20px;
    text-align           : center;
}

.nav-list-item {
    border               : none;
    color                : #455158 !important;
}


.side-menu-left.has-header {
    top                  : 186px !important;
}

.side-menu-left .active-item {
    background-color     : #F2FAFE !important;
    background-image     : linear-gradient(left, #477d9f, #477d9f 7px, transparent 7px, transparent 100%) !important;
    background-image     : -webkit-linear-gradient(left, #477d9f, #477d9f 7px, transparent 7px, transparent 100%) !important;
}

.side-menu-left a:not(.item-divider):hover {
    background-color     : #F2FAFE !important;
    background-image     : linear-gradient(left, #477d9f, #477d9f 7px, transparent 7px, transparent 100%);
    background-image     : -webkit-linear-gradient(left, #477d9f, #477d9f 7px, transparent 7px, transparent 100%);
}

.side-menu-style {
    height               : 180px !important;
}

.side-menu-container {
    background-color     : #FFFFFF !important;
}

/************************************* Home ***********************************/


/************************************ Search **********************************/


/************************************ Browse **********************************/
.card-header, .card-hours {
    padding-left         : 36px;
}

.item-browse {
    border-top           : none;
    border-color         : #f0f0f0;
    padding-top          : 20px !important;
    padding-bottom       : 20px !important;
}

.restaurant-list-item {
    padding-top          : 10px;
    padding-bottom       : 10px;
    margin-left          : 4px;
}

/************************************ Profile *********************************/

.button-icon {
    padding               : 0;
    background            : transparent;
    border-color          : transparent;
    box-shadow            : none;
    border-radius         : 0;
    font-size             : 18pt !important;
}

.button-icon:active,
.button-icon:focus {
    -webkit-box-shadow    : none;
    -moz-box-shadow       : none;
    box-shadow            : none;
    border-color          : transparent;
}

.button-icon:active {
    -webkit-transform     : scale(0.9);
    -moz-transform        : scale(0.9);
    -o-transform          : scale(0.9);
    -ms-transform         : scale(0.9);
    transform             : scale(0.9);
}

.button-icon:focus {
    outline               : 0 none !important;
}

.button-icon .fa {
    -webkit-transition    : color 0.1s ease;
    -moz-transition       : color 0.1s ease;
    -o-transition         : color 0.1s ease;
    transition            : color 0.1s ease;
}

.button-icon .fa-star {
    color                 : #769CB4;
}

.button-icon .fa-star.active {
    color                 : #FECF15;
}

.card-profile {
    margin-left           : 30px;
    margin-right          : 30px;
}

.card-profile .item {
    font-size             : 10pt;
}

.platform-android .favorite-icon {
    margin-right          : 5px !important;
    line-height           : 54px !important;
}

.icon.fa {
    font-size             : 18pt;
    margin-top            : 2px;
}

.item.item-divider {
    background            : #78a3bf;
    color                 : white;
}

map {
    border-radius         : 2px;
    box-shadow            : 0 1px 3px rgba(0, 0, 0, 0.3);
    margin                : 0 auto;
    margin-top            : 10px;
    display               : block;
    margin-left           : 30px;
    margin-right          : 30px;

    height                : 80%;
}

.name {
    color                 : #444444;
    font-size             : 30px;
    font-weight           : 300;
    margin-top            : 16px;
}

.profile-info {
    color                 : #444444;
    font-size             : 12px;
    line-height           : 16px;
    margin                : 0 auto;
    text-align            : center;
    width                 : 260px;
}

.profile-picture {
    margin                : 0 auto;
    padding-top           : 10px;
    text-align            : center;
}

.scroll {
    height                : 100%;
}

/************************************* Login **********************************/
.horizontal-center {
    text-align            : center;
}

input, input[placeholder] {
    font-size             : 16px;
    color                 : #505050;
}
.input-icon {
    margin-right          : 10px;
}

.input-label {
    font-size             : 12px;
    font-weight           : 400;
    color                 : #477d9f;
}

.item-input {
    padding               : 0;
}

.jumbo-icon {
    font-size             : 180px;
    margin-top            : 40px;
    color                 : #78a3bf;
}

.login-button {
    border-color          : transparent;
    background-color      : #78a3bf;
    color                 : #FFFFFF !important;
    font-size             : 16px;
    font-weight           : 400;
    padding               : 10px 64px;
    -moz-border-radius    : 34px;
    -webkit-border-radius : 34px;
    border-radius         : 34px;
}

.login-error,
.signup-error {
    color                 : red;
    text-align            : center;
}

.login-form .list {
    width                 : 270px;
    margin                : 0 auto;
    margin-top            : 30px;
}

.login-input {
    border-top            : none;
    border-left           : none;
    border-right          : none;
    border-color          : #b0dcf7;
}

.signup-button {
    color                 : #477d9f !important;
    font-weight           : 400 !important;
    margin-right          : 14px;
    text-decoration       : none;
}


/************************************ Signup **********************************/
.jumbo-signup {
    margin-top            : 40px;
}

.signup-form .list {
    width                 : 270px;
    margin                : 0 auto;
    margin-top            : 30px;
}
